/* Base Application Styles */
$brandColor: #009FE2;
$activeColor: #F80;

html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 110%;
}

.subheading {
  width: 80%;
}

.banner {
  background: url('../images/mb20.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  position: relative;
  margin-bottom: 3em;
  
  h1 {
    margin: 0px 10px;
    font-weight: bold;
  }
  
  .count {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: bold;
    color: #F90;
  }
  
  .record-btn {
    text-align: center;
    background-color: $activeColor;
    text-transform: uppercase;
    border: 5px solid darken($activeColor, 5%);
    padding: 0.5em 2em;
    font-size: 200%;
    margin-top: 2.5em;
    
    &:hover,
    &:active {
      background-color: lighten($activeColor, 10%);
    }
  }
  
  @media (max-width: 1200px) {
    .record-btn {
      margin-top: 2em;
    }
  }
  
  @media (max-width: 1000px) {
    .record-btn {
      margin-top: 1em;
    }
  }
  
  @media (max-width: 750px) {
    .record-btn {
      font-size: 125%;
    }
  }
}

.about {
  border: 1px solid #EEE;
  padding: 50px;
}

.my-modal {
  min-width: 50vw;
}

.recordrtc-video {
  text-align: center;
}

footer {
  margin-top: 20px;
}

.signatures {
  
  .video-player {
    height: 400px;
  }
  
  .grid {
    overflow-y: auto;
    height: 400px;
    .thumbnail {
      display: inline-block;
      width: 40%;
      margin-left: 1em;
    }
  }
  
  @media (max-width: 767px) {
    .video-player {
      height: auto;
    }
    
    .grid {
      height: auto;
      & .thumbnail {
        width: 20%;
      }
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
}

footer {
  background-color: $brandColor;
  color: #FFF;
  padding: 10px 20px;
  
  a {
    color: #FFF;
    text-decoration: none;
  }
}