/* Base Application Styles */
$brandColor: #009FE2;
$activeColor: #F80;

html, 
body {
  margin: 0;
  padding: 0;
  font-family: 'Alegreya Sans', sans-serif;
  font-size: 110%;
}

.subheading {
  width: 80%;
}

header,
footer {
  background-color: $brandColor;
  color: #FFF;
  padding: 10px 20px;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
}

.banner {
  background: url('../images/mike-baird-image.jpg');
  background-size: cover;
  background-position: center;
  color: #FFF;
  position: relative;
  height: 500px;

  .header-content {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 10px;
  }

  .signature-count,
  .record-btn {
    font-family: 'Oswald', sans-serif;
    font-size: 2em;
    width: 600px;
    text-align: center;
    text-transform: uppercase;
  }
  
  .signature-count {
    background-color: #000;
  }
  
  .record-btn {
    background-color: $activeColor;
    border-color: transparent;
    
    &:hover,
    &:active {
      background-color: lighten($activeColor, 10%);
    }
  }

  @media (max-width: 769px) {
    & {
      height: 400px;
    }
  }

  @media (max-width: 661px) {
    & {
      height: 350px;
    }

    .signature-count,
    .record-btn {
      font-size: 1.5em;
      width: 100%;
    }
  }

  @media (max-width: 481px) {
    & {
      height: 280px;
    }

    .signature-count,
    .record-btn {
      font-size: 1.25em;
    }
  }

  @media (max-width: 341px) {
    & {
      height: 250px;
    }

    .signature-count,
    .record-btn {
      font-size: 1em;
    }
  }
}

.about {
  border: 1px solid #EEE;
  padding: 50px;
}

.my-modal {
  min-width: 50vw;

  footer {
    margin-top: 5px;
    padding: 10px;
    text-align: right;
    background-color: transparent;
  }
}

.signatures { 
  .video-player {
    height: 400px;
  }
  
  .grid {
    overflow-y: auto;
    height: 400px;
    .thumbnail {
      display: inline-block;
      width: 40%;
      margin-left: 1em;
    }
  }
  
  @media (max-width: 767px) {
    .video-player {
      height: auto;
    }
    
    .grid {
      height: auto;
      & .thumbnail {
        width: 20%;
      }
    }
  }
}

.icon {
  width: 32px;
  height: 32px;
}

footer {
  margin-top: 20px;
  
  a {
    color: #FFF;
    text-decoration: none;
  }
}

.recordrtc-video {
  padding: 5px;
  background-color: #000;
  color: #FFF;
  text-align: center;
}

.controls {
  display: flex;
  button {
    width: 36px;
    height: 36px;
    padding: 0;
    border: 0;
    background-color: transparent;
  }

  .progress {
    flex: 1 1 auto;
    margin: 5px;
  }
} 

.signature-item {
  padding: 5px;
  border: 1px solid #AAA;
  margin-top: 5px;
  margin-bottom: 5pm;
  position: relative;
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

a.share-button {
  display: block;
  padding: 10px 20px;
  text-transform: uppercase;
  color: #FFF;
  max-width: 260px;
  margin: auto;
  margin-top: 5px;
  
  &:hover {
    color: #FFF;
    text-decoration: none;
  }

  &.share-twitter {
    background-color: #1B95E0;

    &:hover {
      background-color: #0C7ABF;
    }
  }

  &.share-facebook {
    background-color: #4267B2;

    &:hover {
      background-color: #365899;
    }
  }
}