/* Base Application Styles */
$brandColor: #009FE2;

html, 
body {
  margin: 0;
  padding: 0;
}

header,
footer {
  background-color: $brandColor;
  color: #FFF;
  padding: 10px 20px;
  
  a {
    color: #FFF;
    text-decoration: none;
  }
}

.banner {
  background: url('../images/mb20.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  color: #FFF;
  
  .statistics {
    background-color: #EEE;
    color: #000;
    padding: 5px 10px;
    
    p {
      margin: 0;
    }
  }
  
  .record-btn {
    width: 100%;
    text-align: center;
    background-color: #F80;
    text-transform: uppercase;
    border-color: transparent;
    padding: 20px 10px;
    font-size: 200%;
    
    &:hover,
    &:active {
      background-color: #FA0;
    }
  }
}

.about {
  border: 1px solid #EEE;
  padding: 50px;
}

footer {
  margin-top: 20px;
}